<!DOCTYPE html>
<html>
<head>
    <title>Hello Word !</title>
    {% include "meta.html" %}
    <script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
    if (localStorage.getItem('extensions.helloword.name') !== null)
        $('#name').val(localStorage.getItem('extensions.helloword.name'));
    $('#validate').click(function () {
        localStorage.setItem('extensions.helloword.name',$('#name').val());
        document.location.href='/extensions';
    });
});
    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Hello Word !</h1>
            <a href="/extensions" data-icon="back" class="ui-btn-left">Retours</a>
        </div>

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all">
                <h3>Paramètres</h3>
                <label>Notre nom: <input type="text" data-clear-btn="false" name="name" id="name" value=""></label>
                <fieldset>
                    <div class="ui-grid-a ui-responsive">
                        <div class="ui-block-a"><a href="/sensors" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
                        <div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>
