<!DOCTYPE html>
<html>
<head>
	<title>Gestionnaire d'extensions</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
Date.prototype.toJQUERY = (function(){
	timestamp = this.getTime()-this.getTimezoneOffset()*60000;
	isoFakeUTC = new Date(this.getTime()-this.getTimezoneOffset()*60000).toISOString();
	return isoFakeUTC.substr(0,isoFakeUTC.lastIndexOf(':'));
});
Date.prototype.getTimeFromJQUERY = (function(){
	return this.getTime()+this.getTimezoneOffset()*60000;
});
$(document).ready(function(){
	$away_from = $('#away_from');
	$away_to = $('#away_to');
	$.get('/api/v1.0/away',function (data) {
		DateFrom = new Date(data.from*1000);
		DateTo = new Date(data.to*1000);
		$away_from.val(DateFrom.toJQUERY());
		$away_to.val(DateTo.toJQUERY());
	});
	$('#validate').click(function(){
		msg_error = '';
		DateFrom = new Date($away_from.val());
		DateTo = new Date($away_to.val());
		console.log(DateFrom);
		console.log(DateTo);
		if ( isNaN(DateFrom) || isNaN(DateTo) ) {
			alert ('Format de date incorrect');
			return false;
		} else {
			$.ajax({
				url: '/api/v1.0/away',
				type: 'PUT',
				data: JSON.stringify({
					from: DateFrom.getTimeFromJQUERY()/1000,
					to: DateTo.getTimeFromJQUERY()/1000
				})
			}).done(function(){
				document.location.href="/";
			});
		}
	});

});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Absences</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
		</div>

		{% include "sidebar.html" %}

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<p>
					Définir une période d'absence. La température en absence est à
					définir dans les paramêtres des zones.
				</p>
				<p>
					<label for="away_from">A partir du</label>
					<input type="datetime-local" data-clear-btn="true" name="away_from" id="away_from" value="">
				</p>
				<p>
					<label for="away_to">Jusqu'au</label>
					<input type="datetime-local" data-clear-btn="true" name="away_to" id="away_to" value="">
				</p>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div class="ui-grid-a ui-responsive">
						<div class="ui-block-a"><a href="/zones/{{ zone_id }}/schedules/weekly" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
						<div id="validate" class="ui-block-b" disabled="" ><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
