<!DOCTYPE html>
<html>
<head>
	<title>Gestionnaire d'extensions</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
function install_extension (meta) {
	console.log('Activation de l\'extension '+meta.name);
	if (meta.install()) {
		extensions.push(meta);
		localStorage.extensions = JSON.stringify(extensions);
	} else {
		alert('Une erreur est apparue lors de l\'installation de l\'extension '+meta.name+'.');
	}
}
function uninstall_extension (meta) {
	console.log('Désactive de l\'extension '+meta.name);
	tmp_extensions = [];
	for (j = 0; j < extensions.length; ++j) {
		if (extensions[j].dirname != meta.dirname)
			tmp_extensions.push(extensions[j]);
	}
	extensions = tmp_extensions;
	localStorage.extensions = JSON.stringify(extensions);
	if (!meta.uninstall())
		alert('Une erreur est apparue lors de la désinstallation de l\'extension '+meta.name+'.');
}
$(document).ready(function(){
	$.getJSON('extensions/index.js', function(index) {
		for (i = 0; i < index.available_extensions.length; ++i) {
			$.getScript('extensions/'+index.available_extensions[i]+'/meta.js').done(function(){
				console.log(meta)
				$available_extensions = $('#available_extensions');
				var $active_bt=$('<input type="checkbox" data-role="flipswitch" />');
				var $setup_bt=$('<a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-gear ui-btn-icon-right ui-mini ui-btn-inline ui-state-disabled">Configuration</a>');
				$setup_bt.click(meta.setup);
				for (j = 0; j < extensions.length; ++j) {
					if (extensions[j].dirname == meta.dirname) {
						$active_bt.prop('checked',true);
						if (meta.setup)
							$setup_bt.removeClass('ui-state-disabled');
					}
				}
				$extension = $('\
					<div class="ui-body ui-body-a ui-corner-all">\
						<h3>'+meta.name+'</h3>\
						<p>'+meta.description+'</p>\
						<p>\
							Auteur: '+meta.author+'<br>\
							Version: '+meta.version+'<br>\
							Licence: '+meta.licence+'<br>\
							<a href="'+meta.website+'">Site internet</a>\
						</p>\
					</div>');
				$extension.append($setup_bt);
				$extension.append('<br/>');
				$extension.append($active_bt);
				$extension[0].extension = meta;
				$available_extensions.append($extension);
				$active_bt.change(function(){
					$this = $(this);
					if ($this.prop('checked')) {
						install_extension($this.parent().parent()[0].extension);
						if (meta.setup)
							$setup_bt.removeClass('ui-state-disabled');
					} else {
						uninstall_extension($this.parent().parent()[0].extension);
						$setup_bt.addClass('ui-state-disabled');
					}
				});
				$active_bt.flipswitch();
				$active_bt.flipswitch('refresh');
				$active_bt.addClass('ui-btn-inline');
			}).fail(function(jqxhr, settings, exception){
				console.error('Loading fail');
				console.error(exception);
			});
		}
	});
});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Gestionnaire d'extensions</h1>
			<a href="/params" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Retour</a>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all" id="available_extensions">
				<h3>Extensions</h3>
				<ul id="available_extensions" data-role="listview" data-inset="true">
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
