<!DOCTYPE html>
<html>
<head>
	<title>Historiques</title>
	{% include "meta.html" %}
	<script src="/js/highstock.js"></script>
	<script src="/js/exporting.highcharts.js"></script>
	<script src="/js/offline-exporting.highcharts.js"></script>
	<script src="/js/commun.highcharts.js"></script>
	<script>
		var zones = [];
		var history_average;
		var load_series_request;

		function load_series() {
			$.mobile.loading('show');

			if (load_series_request) {
				console.log('abort');
				load_series_request.abort()
			}
			var chart = $('#history').highcharts();
			var xAxisDelta = chart.xAxis[0].max - chart.xAxis[0].min
			if (xAxisDelta <= 3*24*60*60*1000) {
				history_average = 'none';
				var step = false;
				var dateOffset = 0;
			} else if (xAxisDelta <= 30*24*60*60*1000) {
				history_average = 'houry';
				var step = 'left';
				var dateOffset = 60*60*1000;
			} else {
				history_average = 'daily';
				var step = 'left';
				var dateOffset = 24*60*60*1000;
			}
			console.log('load series '+history_average);
			console.log(xAxisDelta);

			load_series_request = $.getJSON('/api/v1.0/history', {from:0,from:chart.xAxis[0].min/1000,to:chart.xAxis[0].max/1000,average:history_average}, function (data) {
				var tempByZone = {};
				var hrelByZone = {};
				var pressureByZone = {};
				var powerByZone = {};
				for (i = 0; i < zones.length; ++i) {
					tempByZone[zones[i].id] = [];
					hrelByZone[zones[i].id] = [];
					pressureByZone[zones[i].id] = [];
					powerByZone[zones[i].id] = [];
				}
				for (i = 0; i < data.history.length; ++i) {
					if ( (data.history[i][0] != null) & (data.history[i][1] != null) ) {
						if (data.history[i][2] != null)
							tempByZone[data.history[i][1]].push([data.history[i][0]*1000,data.history[i][2]]);
						if (data.history[i][3] != null)
							hrelByZone[data.history[i][1]].push([data.history[i][0]*1000,data.history[i][3]]);
						if (data.history[i][4] != null)
							pressureByZone[data.history[i][1]].push([data.history[i][0]*1000,data.history[i][4]]);
						if (data.history[i][5] != null)
							powerByZone[data.history[i][1]].push([data.history[i][0]*1000,data.history[i][5]*100]);
						else if (powerByZone[data.history[i][1]].length)
							powerByZone[data.history[i][1]].push([data.history[i][0]*1000,powerByZone[data.history[i][1]][powerByZone[data.history[i][1]].length-1][1]]);
					}
				}
				var series = [];
				var navigatorSeries = [];
				var j = 0;
				for (i = 0; i < zones.length; ++i) {
					if (tempByZone[zones[i].id].length)
						tempByZone[zones[i].id].push([tempByZone[zones[i].id][tempByZone[zones[i].id].length-1][0]+dateOffset, tempByZone[zones[i].id][tempByZone[zones[i].id].length-1][1]]);
					chart.series[j].update({step:step},false);
					chart.series[j].setData(tempByZone[zones[i].id],false);
					j++;
					if (hrelByZone[zones[i].id].length)
						hrelByZone[zones[i].id].push([hrelByZone[zones[i].id][hrelByZone[zones[i].id].length-1][0]+dateOffset, hrelByZone[zones[i].id][hrelByZone[zones[i].id].length-1][1]]);
					chart.series[j].update({step:step},false);
					chart.series[j].setData(hrelByZone[zones[i].id],false);
					j++;
					if (pressureByZone[zones[i].id].length)
						pressureByZone[zones[i].id].push([pressureByZone[zones[i].id][pressureByZone[zones[i].id].length-1][0]+dateOffset, pressureByZone[zones[i].id][pressureByZone[zones[i].id].length-1][1]]);
					chart.series[j].update({step:step},false);
					chart.series[j].setData(pressureByZone[zones[i].id],false);
					j++;
					if (powerByZone[zones[i].id].length)
						powerByZone[zones[i].id].push([powerByZone[zones[i].id][powerByZone[zones[i].id].length-1][0]+dateOffset, powerByZone[zones[i].id][powerByZone[zones[i].id].length-1][1]]);
					chart.series[j].update({step:step},false);
					chart.series[j].setData(powerByZone[zones[i].id],false);
					j++;
				}
				$('.highcharts-series-group').show();
				chart.redraw();
				$.mobile.loading('hide');
			});
		};

		$.mobile.ajaxEnabled = false;
		$(document).ready(function () {
			$.mobile.loading('show');
			$.getJSON( 'api/v1.0/zones', function( data ) {
				zones = data.zones;
			});

			$.getJSON('/api/v1.0/history', {from:0,average:'daily',zones:1,cols:'temp'}, function (data) {
				var afterSetExtremesTimeout;
				var navigator_series = [];
				var series = [];
				for (i = 0; i < data.history.length; ++i) {
					navigator_series.push([data.history[i][0]*1000,data.history[i][1]]);
				}
				navigator_series.push([Date.now(),null]);
				for (i = 0; i < zones.length; ++i) {
					series.push({
						name: 'Température '+zones[i].name,
						step: 'left',
						data: navigator_series,
						yAxis: 0,
						startOnTick: false
					});
					series.push({
						name: 'Humiditée '+zones[i].name,
						step: 'left',
						data: [],
						yAxis:1,
						startOnTick: false
					});
					series.push({
						name : 'Pression '+zones[i].name,
						step: 'left',
						data: [],
						yAxis: 2,
						startOnTick: false
					});
					series.push({
						name : 'État '+zones[i].name,
						step: 'left',
						data: [],
						yAxis: 3,
						startOnTick: false
					});
				}
				chartcontener = $('#history').highcharts('StockChart', {
					chart : {
						zoomType : 'x'
					},
					rangeSelector : {
						selected : 1
					},
					title : {
						text : ''
					},
					xAxis: {
						title:{
							text:null
						},
						type: 'datetime',
						ordinal: false,
						events : {
							afterSetExtremes: function(){
								$.mobile.loading('show');
								clearTimeout(afterSetExtremesTimeout);
								afterSetExtremesTimeout = setTimeout(load_series,500);
							}
						}
					},
					yAxis: [
						{//Température
							title: {
								text: ''
							},
							labels: {
								format: '{value} °C'
							},
							opposite: true
						}, {//Humiditée
							title: {
								text: ''
							},
							labels: {
								format: '{value} %'
							},
							opposite: false
						}, {//pression
							title: {
								text: ''
							},
							labels: {
								format: '{value} hPa'
							}
						}, {//power
							title: {
								text: ''
							},
							labels: {
								enabled: false
							},
						}
					],
					legend: {
						enabled: true,
					},
					navigator: {
						adaptToUpdatedData: false,
					},
					tooltip: {
						pointFormatter: function () {
							if (this.series.userOptions.yAxis == 0) return '<span style="color:'+this.color+'">●</span>'+this.series.name+' : <b>'+this.y.toFixed(1)+'</b> °C<br/>';
							if (this.series.userOptions.yAxis == 1) return '<span style="color:'+this.color+'">●</span>'+this.series.name+' : <b>'+this.y.toFixed(1)+'</b> %<br/>';
							if (this.series.userOptions.yAxis == 2) return '<span style="color:'+this.color+'">●</span>'+this.series.name+' : <b>'+this.y.toFixed(1)+'</b> hPa<br/>';
							if (this.series.userOptions.yAxis == 3) return '<span style="color:'+this.color+'">●</span>'+this.series.name+' : <b>'+this.y.toFixed(0)+'</b> %<br/>';
						}
					},
					rangeSelector: {
						buttons: [
							{
								type: 'day',
								count: 1,
								text: '1d'
							}, {
								type: 'day',
								count: 2,
								text: '2d'
							}, {
								type: 'week',
								count: 1,
								text: '1w'
							}, {
								type: 'month',
								count: 1,
								text: '1m'
							}, {
								type: 'year',
								count: 1,
								text: '1y'
							}, {
								type: 'all',
								text: 'All'
							}],
						selected:2
					},
					series: series
				});
				$('.highcharts-series-group').hide();
				chartcontener.highcharts().redraw();
			});
		$('#reload').click(function(){
		$.mobile.loading('show');
		$.getJSON('/api/v1.0/history', {from:0,average:'daily',zones:1,cols:'temp'}, function (data) {
			var navigator_series = [];
			var chart = $('#history').highcharts();
			for (i = 0; i < data.history.length; ++i) {
			navigator_series.push([data.history[i][0]*1000,data.history[i][1]]);
			}
			navigator_series.push([Date.now(),null]);
			chart.series[0].setData(navigator_series);
			load_series();
		});
		});
		});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Historiques</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
		</div>

		{% include "sidebar.html" %}

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<div id="history"></div>
		<a id="reload" href="#" class="ui-btn ui-mini ui-btn-inline ui-icon-refresh">Recharger</a>
			</div>
		</div>
	</div>
</body>
</html>
