<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/css/images/logo.svg" sizes="any" type="image/svg+xml">
<link rel="shortcut icon" href="/css/images/logo.svg" sizes="any" type="image/svg+xml">
<link rel="apple-touch-icon" href="/css/images/logo.svg" sizes="any" type="image/svg+xml">
<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<script>
var page_url = "{{request.path}}";
</script>
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/commun.js"></script>
