<!DOCTYPE html>
<html>
<head>
	<title>Ajouter un mode</title>
	{% include "meta.html" %}
	<script>
function back() {
	document.location.href="/modes";
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#validate').click(function() {
		$.ajax({
			url: '/api/v1.0/modes',
			type: 'POST',
			data: JSON.stringify({
				name: $('#name').val()
			}),
			success: function(data){
				//On passe le mode créer en mode actif
				console.log(data);
				$.ajax({
					url: '/api/v1.0/modes/active',
					type: 'PUT',
					data: JSON.stringify({
						id: data.id
					})
				}).done(function(data){
					document.location.href='/modes';
				});
			}
		})
	});
	$('#cancel').click(function (){
		back()
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>Ajouter un mode</h1>
			<a href="/modes" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Modes</a>
		</div>

		<div role="main" class="ui-content">

			<form>

				<div class="ui-body ui-body-a ui-corner-all">
					<h3>Nom</h3>
					<label><input type="text" data-clear-btn="false" name="name" id="name" value=""></label>
				</div>

				<div class="ui-body ui-body-a ui-corner-all">
					<fieldset>
						<div class="ui-grid-a ui-responsive">
							<div id="cancel" class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
							<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Ajouter</a></div>
						</div>
					</fieldset>
				</div>

			</form>

		</div>
	</div>
</body>
</html>
