<!DOCTYPE html>
<html>
<head>
	<title>Toutes les zones</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('.mode-btn').click(function () {
		console.log('activé mode '+$(this).attr('value'));
		$.ajax({
			url: '/api/v1.0/modes/active',
			type: 'PUT',
			data: JSON.stringify({
				id: parseInt($(this).attr('value'))
			})
		}).done(function(data){
			document.location.href='/modes';
		});
	});
});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Modes</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
			<a href="#settings-sidebar" data-icon="gear" class="ui-btn-right">Réglages</a>
		</div>

		{% include "sidebar.html" %}

		<div id="settings-sidebar" data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true">
			<h3>Réglages</h3>
			<ul data-role="listview" data-inset="true">
				<li data-icon="plus"><a href="/modes/add">Ajouter un mode</a></li>
			</ul>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<p>
					Les modes permettent d'avoir plusieurs programmations
					hebdomadaires préenregistrée.
				</p>

				<ul data-role="listview" data-inset="true" data-split-icon="gear" data-split-theme="a" data-inset="true">
					{% for mode in modes %}
					<li data-icon="edit">
						<a class="mode-btn" value="{{ mode.id }}" href="#">
							{{ mode.name }}
							{% if mode.id == modes.active.id %}<span class="ui-li-count ui-btn-active">actif</span>{% endif %}
						</a>
						<a href="/modes/{{ mode.id }}/edit">{{ mode.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
