<!DOCTYPE html>
<html>
<head>
	<title>{{ mode.name }} - Paramètres</title>
	{% include "meta.html" %}
	<script>
function back() {
	document.location.href="/modes";
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#remove').change(function () {
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#validate').click(function() {
		if ($('#remove').prop('checked')) {
			$.ajax({
				url: '/api/v1.0/modes/{{ mode.id }}',
				type: 'DELETE',
				success: back()
			});
		} else {
			$.ajax({
				url: '/api/v1.0/modes/{{ mode.id }}',
				type: 'PUT',
				data: JSON.stringify({
					name: $('#name').val()
				}),
				success: back()
			});
		}
	});
	$('#cancel').click(function (){
		back()
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>{{ mode.name }} - Paramètres</h1>
			<a href="/modes" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Modes</a>
		</div>

		<div role="main" class="ui-content">

			<form>

				<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
					<h3>Rennomer</h3>
					<label>Nouveau nom: <input type="text" data-clear-btn="false" name="name" id="name" value="{{ mode.name }}"></label>
				</div>

				<div class="ui-body ui-body-a ui-corner-all">
					<h3>Suppression</h3>
					{% if mode.id == 1 %}
					<p>La supression du 1er mode est impossible.</p>
					{% else %}
					<fieldset>
						<label>
							<input id="remove" type="checkbox" name="remove">Supprimer ce capteur pour cette zone
						</label>
					</fieldset>
					{% endif %}
				</div>

				<div class="ui-body ui-body-a ui-corner-all">
					<fieldset>
						<div class="ui-grid-a ui-responsive">
							<div id="cancel" class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
							<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
						</div>
					</fieldset>
				</div>

			</form>

		</div>
	</div>
</body>
</html>
