<!DOCTYPE html>
<html>
<head>
	<title>Autres réglages</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#display_welcome').change(function () {
		console.log('totititi');
		if ($(this).prop('checked')) localStorage.nowelcome=false
		else localStorage.nowelcome=true
	});
	$('#clear_localstorage').click(function(){
		if (window.confirm("Effacer le stockage locale ?\nAttention cette action est irréversible !")) {
			localStorage.clear();
			alert("Stockage locale effacer.");
		}
	});
});
	</script>
	<style>
		.ui-btn{
			text-align:left
		}
	</style>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Autres réglages</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
		</div>

		{% include "sidebar.html" %}

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Paramètres</h3>

				<label href="/extensions"><input id="display_welcome" type="checkbox" name="display_welcome">Afficher l'écran d'acceuil</label>

				<ul data-role="listview" data-inset="true">
					<li data-icon="plus"><a href="/zones/add">Créer une nouvelle zone</a></li>
					<li data-icon="shop"><a href="/extensions">Gérer les extensions</a></li>
				</ul>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Paramètres avancés</h3>

				<ul data-role="listview" data-inset="true">
					<li><a href="/sensors">Gérer les capteurs</a></li>
					<li><a href="/pilots">Gérer les pilotes</a></li>
				</ul>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Paramètres développeur</h3>

				<ul data-role="listview" data-inset="true">
					<li><a id="clear_localstorage" href="#">Effacer le stockage locale</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
