<!DOCTYPE html>
<html>
<head>
	<title>{{ pilot.name }} - Paramêtres</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#remove').change(function () {
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#validate').click(function() {
		if ($('#remove').prop('checked')) {
			$.ajax({
				url: '/api/v1.0/pilots/{{ pilot.id }}',
				type: 'DELETE'
			}).done(function(){
				document.location.href='/pilots';
			});
		} else {
			$.ajax({
				url: '/api/v1.0/pilots/{{ pilot.id }}',
				type: 'PUT',
				data: JSON.stringify({
					name: $('#name').val()
				})
			}).done(function(){
				document.location.href='/pilots';
			});
		}
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>Pilote {{ pilot.name }}</h1>
			<a href="/pilot" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Paramêtres</a>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Informations</h3>
				<ul>
					<li>Nom : {{ pilot.name }}</li>
					<li>Identifiant : {{ pilot.location }}</li>
					<li>IP : {{ pilot.UdpDevice.ip }}</li>
					<li>État: {{ pilot.power }}</li>
				</ul>
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3>Nom</h3>
				<p>Le nom est identique dans toutes les zones qui utilises ce pilote.</p>
				<label for="name">Modifier le nom</label>
				<input type="text" data-clear-btn="false" name="name" id="name" value="{{ pilot.name }}">
			</div>

			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Suppression</h3>
				<p>Le pilote sera supprimé de toute les zones qui l'utilise.</p>
				<label><input id="remove" type="checkbox" name="remove">Supprimer ce pilote</label>
			</div>

			<div class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div class="ui-grid-a ui-responsive">
						<div class="ui-block-a"><a href="/pilots" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
						<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
