<!DOCTYPE html>
<html>
<head>
	<title>Pilotes</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$pilots = $('#pilots');
	$.get('/api/v1.0/pilots',function (data) {
		for (i = 0; i < data.pilots.length; ++i) {
			$pilots.append($('\
				<tr>\
					<th>'+data.pilots[i].name+'</th>\
					<td style="overflow:auto"><code>'+data.pilots[i].location+'</code></td>\
					<td>'+data.pilots[i].power+'</td>\
					<td><a class="ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all" href="/pilots/'+data.pilots[i].id+'/edit">Modifier</a></td>\
				</tr>'));
		}
	});
});

	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>Pilotes</h1>
			<a href="/params" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Acceuil</a>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3 id="s_pilots">Pilotes</h3>
				<table data-role="table" id="pilots" data-mode="reflow" class="ui-responsive table-stroke">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Localisation</th>
							<th>États</th>
							<th>Outils</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>
</html>
