<!DOCTYPE html>
<html>
<head>
	<title>Programmation zone {{ zone.name }}</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
var scale=.005;
var schedules = [];
var todoschedules = [];
var $edit_hourSelector;
var $edit_daySelector;
var $edit_tempSelector;
var $edit_panel;
var edit_daysecond;
var edit_temp;
var edit_days;
var $add_hourSelector;
var $add_daySelector;
var $add_tempSelector;
var $add_panel;
function temp2color(temp,light){
	if (temp < 6) {
		return 'rgb('+light+','+light+',255)'
	} else if (temp < 13) {
		return 'rgb('+light+','+Math.round((temp-6)/6*(255-light)+light)+','+Math.round((1-(temp-6)/6)*(255-light)+light)+')';
	} else if (temp < 20) {
		return 'rgb('+Math.round((temp-13)/6*(255-light)+light)+',255,'+light+')';
	} else if (temp < 27) {
		return 'rgb(255,'+Math.round((1-(temp-20)/7)*(255-light)+light)+','+light+')';
	} else {
		return 'rgb(255,'+light+','+light+')'
	}
}
function Schedule (weeksecond,temp,duration) {
	this.day = Math.floor(weeksecond/(24*3600));
	this.daysecond = weeksecond-this.day*24*3600;
	this.time = new Date(this.daysecond*1000);
	this.temp = temp;
	this.weeksecond = weeksecond;
	this.$html = $('<div class="block-schedule" daysecond="'+this.daysecond+'" temp="'+temp+'" style="height:'+duration*scale+'px; background-color:'+temp2color(temp,180)+'">\
		 '+/*temp.formatTemp()+' à '+this.time.formatHour()*/+'\
		</div>');
	this.$html.extend(this);
	this.$html.day = this.day;
	this.$html.click(function(){
		$this = $(this);
		edit_daysecond = parseFloat($this.attr('daysecond'));
		edit_temp = parseFloat($this.attr('temp'));
		edit_days = []
		for (i = 0; i < todoschedules.length; ++i) {
			if ((todoschedules[i].temp == edit_temp) & (todoschedules[i].daysecond == edit_daysecond) & (edit_days.indexOf(todoschedules[i].day) == -1 ))
				edit_days.push(todoschedules[i].day)
		}
		$edit_hourSelector = $('#edit-hourSelector').hourSelector(edit_daysecond*1000);
		$edit_daySelector = $('#edit-daySelector').daySelector(edit_days,true);
		$edit_tempSelector = $('#edit-tempSelector').tempSelector(edit_temp);
		$edit_panel.panel('open');
	});
	this.$html.mouseenter(function(){
		$this = $(this);
		edit_daysecond = parseFloat($this.attr('daysecond'));
		edit_temp = parseFloat($this.attr('temp'));
		for (i = 0; i < todoschedules.length; ++i) {
			if ((todoschedules[i].temp == edit_temp) & (todoschedules[i].daysecond == edit_daysecond) )
				todoschedules[i].$html.addClass('block-active');
		}
	});
	this.$html.mouseleave(function(){
		if ($edit_panel.hasClass('ui-panel-open') == false ) {
			for (i = 0; i < todoschedules.length; ++i) {
				if ((todoschedules[i].temp == edit_temp) & (todoschedules[i].daysecond == edit_daysecond) )
					todoschedules[i].$html.removeClass('block-active');
			}
		}
	});
	todoschedules.push(this);
}

function loadSchedulesWeekly() {
	$('.block-schedule').remove();
	todoschedules = [];
	$.get('/api/v1.0/zones/{{ zone.id }}/schedules/weekly',function (data) {
		end_on_day = Math.floor(data.schedules[0].week_second/(24*3600));
		for (d = 0; d < end_on_day; ++d) {
			//schedule sur journée complète avant la 1er shedule de la semaine
			schedule = new Schedule(
				data.schedules[data.schedules.length-1].week_second,
				data.schedules[data.schedules.length-1].temp,
				24*3600
			);
			$('#day'+d).append(schedule.$html);
		}
		//shedule sur debut de journée avant la 1er schedule de la semaine
		if (data.schedules[0].week_second - d*24*3600) {
			schedule = new Schedule(
				data.schedules[data.schedules.length-1].week_second,
				data.schedules[data.schedules.length-1].temp,
				data.schedules[0].week_second - d*24*3600
			)
			todoschedules.push(schedule);
			$('#day'+d).append(schedule.$html);
		}
		for (i = 0; i < data.schedules.length-1; ++i) {
			day = Math.floor(data.schedules[i].week_second/(24*3600));
			end_on_day = Math.floor(data.schedules[i+1].week_second/(24*3600));
			if (day == end_on_day) {
				//schedule dans un même jour
				schedule = new Schedule(
					data.schedules[i].week_second,
					data.schedules[i].temp,
					data.schedules[i+1].week_second-data.schedules[i].week_second
				)
				todoschedules.push(schedule);
				$('#day'+schedule.day).append(schedule.$html);
			} else {
				//partie schedule sur le reste de la journée
				schedule = new Schedule(
					data.schedules[i].week_second,
					data.schedules[i].temp,
					(end_on_day)*24*3600 - data.schedules[i].week_second
				);
				todoschedules.push(schedule);
				$('#day'+schedule.day).append(schedule.$html);
				for (d = day+1; d < end_on_day; ++d) {
					//schedule sur jours complet
					schedule = new Schedule(
						data.schedules[i].week_second,
						data.schedules[i].temp,
						24*3600
					);
					todoschedules.push(schedule);
					$('#day'+d).append(schedule.$html);
				}
				//partie schedule sur jours suivant
				if (data.schedules[i+1].week_second - (end_on_day)*24*3600) {
					schedule = new Schedule(
						data.schedules[i].week_second,
						data.schedules[i].temp,
						data.schedules[i+1].week_second - (end_on_day)*24*3600
					);
					todoschedules.push(schedule);
					$('#day'+(end_on_day)).append(schedule.$html);
				}
			}
		}
		//dernier shedule
		day = Math.floor(data.schedules[data.schedules.length-1].week_second/(24*3600));
		//sur fin de journée
		schedule = new Schedule(
			data.schedules[data.schedules.length-1].week_second,
			data.schedules[data.schedules.length-1].temp,
			(day+1)*24*3600 - data.schedules[data.schedules.length-1].week_second
		);
		$('#day'+day).append(schedule.$html);
		//sur jours complet
		for (d = day+1; d <= 6; ++d) {
			//sur jours complet
			schedule = new Schedule(
				data.schedules[data.schedules.length-1].week_second,
				data.schedules[data.schedules.length-1].temp,
				24*3600
			);
			todoschedules.push(schedule);
			$('#day'+d).append(schedule.$html);
		}
		todoschedules.push(schedule);
		$.mobile.loading('hide');
	});
}


$(document).ready(function () {
	$.mobile.loading('show');
	$edit_hourSelector = $('#edit-hourSelector').hourSelector();
	$edit_daySelector = $('#edit-daySelector').daySelector([],true);
	$edit_tempSelector = $('#edit-tempSelector').tempSelector();

	//heure de la journées
	for (h = 0; h <= 24; h ++) {
		if (h <= 9) {
			$('.hours').append('<div class="block-1hour">0'+h+'h00</div>')
		} else {
			$('.hours').append('<div class="block-1hour">'+h+'h00</div>')
		}
	}
	//affichage semaine de programation
	loadSchedulesWeekly();
	//Echelle température
	for (i = 6.5; i < 26.5; i+=.5) {
		$('#scaletemp').append('<div style="background-color:'+temp2color(i,180)+'; width:2.5%; display:inline-block;"><div style="font-size:80%; transform: rotate(270deg);">'+i.toFixed(1)+'</div></div>');
	}
	//modification d'une programation
	$edit_panel = $('#edit-panel').panel({
		beforeclose:function(){
			$('.block-schedule').removeClass('block-active');
		}
	});
	$edit_remove = $('#edit-remove').change(function(){
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#edit-validate').click(function(){
		$.mobile.loading('show');
		for (i = 0; i < edit_days.length; ++i) {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/schedules/weekly/'+(edit_days[i]*24*3600 + edit_daysecond),
				type: 'DELETE',
			});
		}
		if (!$('#edit-remove').prop('checked')) {
			for (i = 0; i < $edit_daySelector.value.length; ++i) {
				$.ajax({
					url: '/api/v1.0/zones/{{ zone.id }}/schedules/weekly',
					type: 'POST',
					data: JSON.stringify({
						week_second: $edit_daySelector.value[i]*24*3600+$edit_hourSelector.value/1000,
						temp: $edit_tempSelector.value
					}),
				});
			}
		}
		loadSchedulesWeekly();
		$edit_panel.panel('close');
	});
	$('#edit-cancel').click(function(){
		$edit_panel.panel('close');
	});
	//ajout d'une programation
	$add_hourSelector = $('#add-hourSelector').hourSelector(0);
	$add_daySelector = $('#add-daySelector').daySelector([]);
	$add_tempSelector = $('#add-tempSelector').tempSelector(18.0);
	$('#add-validate').click(function(){
		$.mobile.loading('show');
		for (i = 0; i < $add_daySelector.value.length; ++i) {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/schedules/weekly',
				type: 'POST',
				data: JSON.stringify({
					week_second: $add_daySelector.value[i]*24*3600+$add_hourSelector.value/1000,
					temp: $add_tempSelector.value
				}),
			});
		}
		loadSchedulesWeekly();
	});
});
	</script>
	<style>
		.ui-content {
			margin-bottom: 3em;
		}
		.ui-days {
			margin-left:2.5em;
		}
		.ui-day {
			float:left;
			width:14.28%;
			text-align:center;
		}
		.in-day {
			background-image: url(/css/images/bk-hours.png);
			padding : 0 5px;
		}
		.hours {
			position:absolute;
			left:1em;
			background-image: url(/css/images/bk-hours.png);
			background-position: 0 6px;
			margin-top:-6px;
			padding-right: 1em;
			float:left;
		}
		.hours div {
			height:18px;
			font-size:50%;
			color:#DDD;
			background-color: white;
			text-align:right;
		}
		.block-schedule {
			border:none;
			opacity: .7;
		}
		.block-active {
			opacity:1;
			z-index:10;
			box-shadow: 0 0 12px #38c
		}
		.clearer {
			clear: both;
		}
		#footer {
			position:fixed;
			bottom:0;
			width:100%;
			text-align: right;
		}
	</style>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>{{ zone.name }} - Programmation</h1>
			<a href="/zones/{{ zone.id }}" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Zone {{ zone.name }}</a>
		</div>

		<div data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true" id="add-panel">
			<h3>Ajouter une programmation</h3>

			<h4>À</h4>
			<div id="add-hourSelector"></div>

			<h4>Les</h4>
			<div id="add-daySelector"></div>

			<h3>Température</h3>
			<div id="add-tempSelector"></div>

			<div class="clearer ui-grid-a ui-responsive">
				<div class="ui-block-a"><a id="add-cancel" href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
				<div class="ui-block-b"><a id="add-validate" href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
			</div>
		</div>

		<div data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true" id="edit-panel">
			<h3>Modifier une programmation</h3>

			<fieldset>
				<label><input id="edit-remove" type="checkbox" name="edit-remove">Supprimer cette programmation</label>
			</fieldset>

			<div class="inactive-when-remove">
				<h4>À</h4>
				<div id="edit-hourSelector"></div>

				<h4>Les</h4>
				<div id="edit-daySelector"></div>

				<h3>Température</h3>
				<div id="edit-tempSelector"></div>
			</div>

			<div class="clearer ui-grid-a ui-responsive">
				<div class="ui-block-a"><a id="edit-cancel" href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
				<div class="ui-block-b"><a id="edit-validate" href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
			</div>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<div class="ui-days">
					<div class="ui-day">
						<h4>Lu</h4>
						<div id="day0" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Ma</h4>
						<div id="day1" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Me</h4>
						<div id="day2" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Je</h4>
						<div id="day3" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Ve</h4>
						<div id="day4" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Sa</h4>
						<div id="day5" class="in-day">
							<div class="hours"></div>
						</div>
					</div>

					<div class="ui-day">
						<h4>Di</h4>
						<div id="day6" class="in-day">
							<div class="hours"></div>
						</div>
					</div>
				</div>
			</div>

<!--
			<div id="scaletemp" class="ui-body ui-body-a ui-corner-all clearer">
				<h3>Echelle des températures</h3>
			</div>
-->

		</div>

		<div id="footer">
			<a href="#add-panel" class="ui-btn ui-shadow ui-corner-all">Ajouter une programmation</a>
		</div>
	</div>
</body>
</html>
