<!DOCTYPE html>
<html>
<head>
	<title>Capteurs</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$sensors = $('#sensors');
	$.get('/api/v1.0/sensors',function (data) {
		var sum_weight = 0.;
		for (i = 0; i < data.sensors.length; ++i) {
			$sensors.append($('\
				<tr>\
					<th>'+data.sensors[i].name+'</th>\
					<td style="overflow:auto"><code>'+data.sensors[i].location+'</code></td>\
					<td>'+formatTemp(data.sensors[i].temp)+'</td>\
					<td>'+formatHrel(data.sensors[i].hrel)+'</td>\
					<td>'+formatPressure(data.sensors[i].pressure)+'</td>\
					<td><a class="ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all" href="/sensors/'+data.sensors[i].id+'/edit">Modifier</a></td>\
				</tr>'));
		}
	});
});

	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>Capteurs</h1>
			<a href="/params" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Acceuil</a>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3 id="s_sensors">Capteurs</h3>
				<table data-role="table" id="sensors" data-mode="reflow" class="ui-responsive table-stroke">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Localisation</th>
							<th>Température</th>
							<th>Humiditée</th>
							<th>Pression</th>
							<th>Outils</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>
</html>
