<div id="nav-sidebar" data-role="panel" data-position="left" data-position-fixed="true">
	<h3>Zones</h3>
	<ul id="sidebar-zones" data-role="listview" data-inset="true">
	</ul>
	<ul id="sidebar-history" data-role="listview" data-inset="true">
		<li data-icon="clock"><a href="/history">Historique</a></li>
	</ul>

	<h3>Réglages</h3>
	<ul id="sidebar-settings" data-role="listview" data-inset="true">
		<li data-icon="bullets"><a href="/modes">Modes</a></li>
		<li data-icon="calendar"><a href="/away">Période d'absence</a></li>
		<li data-icon="gear"><a href="/params">Paramètres</a></li>
	</ul>
</div>
