<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue</title>
	{% include "meta.html" %}
	<script>
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	if (localStorage.getItem('nowelcome') !== null) {
		if (JSON.parse(localStorage.nowelcome)) {
			$('body').hide();
			$.getJSON( '/api/v1.0/zones', function( data ) {
				if (data.zones.length > 0)
					document.location.href='/zones/'+data.zones[0].id;
				else
					$('body').show();
			});
		}
	}
	$('#nowelcome').change(function () {
		if ($(this).prop('checked')) localStorage.nowelcome=true
		else localStorage.nowelcome=false
	});
});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Bienvenue</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
		</div>

		{% include "sidebar.html" %}

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<p>
					Bienvenue sur l'interface web de votre thermostat connecté OpenWifiThermostat.
				</p>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<h4>Les zones</h4>
				<p>
					Une zone correspond à une partie de votre habitation. Elle disposera d'une
					régulation qui lui sera propre.
					<a class="ui-btn ui-icon-plus ui-btn-icon-right ui-corner-all" href="/zones/add">Créer une zones</a>
				</p>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<h4>Les modes</h4>
				<p>
					OpenWifiThermostat permet de configurer plusieurs modes. Les modes peremettent
					de créer plusieurs programations hebdomadaires.
					<a class="ui-btn ui-icon-bullets ui-btn-icon-right ui-corner-all" href="/modes">Gérér les modes</a>
				</p>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<h4>Les extensions</h4>
				<p>
					Les fonctionnalitées de l'interface web d'OpenWifiThermostat peuvent être étendues
					(affichage de la météo ...).
					<a class="ui-btn ui-icon-shop ui-btn-icon-right ui-corner-all" href="/extensions">Gestionnaire d'extensions</a>
				</p>
			</div>
			<div class="ui-body ui-body-a ui-corner-all">
				<p>
					<label><input id="nowelcome" type="checkbox" name="nowelcome">Ne plus afficher cette écran d'acceuil</label>
					Les options présentées ci-dessus resteront accessible via le menu, lors de vos
					prochaine visite de cette page vous serez redirigé sur la 1ère zone.
				</p>
			</div>
		</div>
	</div>
</body>
</html>
