<!DOCTYPE html>
<html>
<head>
	<title>{{ zone.name }} - Paramêtres</title>
	{% include "meta.html" %}
	<script>
function back() {
	document.location.href="/zones/{{ zone.id }}/edit#s_pilots";
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#remove').change(function () {
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#validate').click(function() {
		if ($('#remove').prop('checked')) {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/pilots/{{ pilot.id }}',
				type: 'DELETE',
				success: back()
			});
		} else {
			back()
		}
	});
	$('#cancel').click(function (){
		back()
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>{{ zone.name }} - Pilot {{ pilot.name }}</h1>
			<a href="/zones/{{ zone.id }}/edit#s_pilots" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Paramètres</a>
		</div>

		<div role="main" class="ui-content">
			<form>
				<div class="ui-body ui-body-a ui-corner-all">
					<h3>Informations</h3>
					<ul>
						<li>Nom : {{ pilot.name }}</li>
						<li>Identifiant : {{ pilot.location }}</li>
						<li>IP : {{ pilot.UdpDevice.ip }}</li>
						<li>Etat: {{ pilot.power }}</li>
					</ul>
					<fieldset>
						<label>
							<input id="remove" type="checkbox" name="remove">Supprimer ce pilot pour cette zone
						</label>
					</fieldset>
				</div>

				<div class="ui-body ui-body-a ui-corner-all">
					<fieldset>
						<div class="ui-grid-a ui-responsive">
							<div id="cancel" class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
							<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
						</div>
					</fieldset>
				</div>
			</form>

		</div>
	</div>
</body>
</html>
