<!DOCTYPE html>
<html>
<head>
	<title>{{ zone.name }} - Paramêtres</title>
	{% include "meta.html" %}
	<script>
function back() {
	document.location.href="/zones/{{ zone.id }}/edit#s_sensors";
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#remove').change(function () {
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#validate').click(function() {
		if ($('#remove').prop('checked')) {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/sensors/{{ sensor.id }}',
				type: 'DELETE',
				success: back()
			});
		} else {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/sensors/{{ sensor.id }}',
				type: 'PUT',
				data: JSON.stringify({
					weight: parseFloat($('#weight').val())
				}),
				success: back()
			});
		}
	});
	$('#cancel').click(function (){
		back()
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>{{ zone.name }} - Capteur {{ sensor.name }}</h1>
			<a href="/zones/{{ zone.id }}/edit#s_sensors" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Paramêtres</a>
		</div>

		<div role="main" class="ui-content">
			<form>
				<div class="ui-body ui-body-a ui-corner-all">
					<h3>Informations</h3>
					<ul>
						<li>Nom : {{ sensor.name }}</li>
						<li>Identifiant : {{ sensor.location }}</li>
						<li>IP : {{ sensor.UdpDevice.ip }}</li>
						<li>Température: {{ sensor.temp }}</li>
						<li>Humiditée: {{ sensor.hrel }}</li>
						<li>Pression: {{ sensor.pressure }}</li>
					</ul>
					<fieldset>
						<label>
							<input id="remove" type="checkbox" name="remove">Supprimer ce capteur pour cette zone
						</label>
					</fieldset>
				</div>

				<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
					<h3>Pondération</h3>
					<p>Le facteur de pondération permet de donner plus ou moins d'importances à un capteur pour le calculs des moyennes de la zone.</p>
					<label for="weight">Facteur de pondération</label>
					<input type="number" data-clear-btn="false" name="weight" id="weight" value="{{ sensor.weights[zone.id] }}">
				</div>

				<div class="ui-body ui-body-a ui-corner-all">
					<fieldset>
						<div class="ui-grid-a ui-responsive">
							<div id="cancel" class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
							<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
						</div>
					</fieldset>
				</div>
			</form>

		</div>
	</div>
</body>
</html>
