<!DOCTYPE html>
<html>
<head>
	<title>{{ zone.name }} - Paramètres</title>
	{% include "meta.html" %}
	<script>
function formatTemp (temp, prec) {
	if (temp) {
		return temp.formatTemp(prec);
	} else {
		return '--.- °C';
	}
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$sensors = $('#sensors');
	$.get('/api/v1.0/zones/{{ zone.id }}/sensors',function (data) {
		var sum_weight = 0.;
		for (i = 0; i < data.sensors.length; ++i) {
			sum_weight += data.sensors[i].weight;
		}
		for (i = 0; i < data.sensors.length; ++i) {
			$sensors.append($(
				'<li data-icon="edit">'+
					'<a href="/zones/{{ zone.id }}/sensors/'+data.sensors[i].id+'/edit">'+data.sensors[i].name+' <span class="ui-li-count">('+(data.sensors[i].weight/sum_weight*100).toFixed()+'%)</span></a>'+
				'</li>'));
		}
		$sensors.listview('refresh');
	});
	$.get('/api/v1.0/zones/{{ zone.id }}/pilots',function (data) {
		$pilots = $('#pilots');
		for (i = 0; i < data.pilots.length; ++i) {
			$pilots.append($(
				'<li data-icon="edit">'+
					'<a href="/zones/{{ zone.id }}/pilots/'+data.pilots[i].id+'/edit">'+data.pilots[i].name+'</a>'+
				'</li>'));
		}
		$pilots.listview('refresh');
	});
	$.get('/api/v1.0/udp/devices/openwifithermostat.sensor',function (data) {
		$listviewAddSensor=$('#listviewAddSensor');
		if (data.devices.length < 1){
			$listviewAddPilot.append($('<li data-icon="alert">Aucun capteur n\'a été détecté.</li>'));
		}
		for (i = 0; i < data.devices.length; ++i) {
			if (data.devices[i].data && data.devices[i].data.name) {
				$sensorBtn = $('<li data-location="'+data.devices[i].location+'" data-icon="plus"><a href="#">'+data.devices[i].data.name+'</a></li>');
			} else {
				$sensorBtn = $('<li data-location="'+data.devices[i].location+'" data-icon="plus"><a href="#">'+data.devices[i].location+'</a></li>');
			}
			$sensorBtn.location = data.devices[i].location;
			$sensorBtn.click(function(){
				$.ajax({
					url: '/api/v1.0/zones/{{ zone.id }}/sensors',
					type: 'POST',
					data: JSON.stringify({location: $(this).attr('data-location')}),
					complete: location.reload()
				});
			});
			$listviewAddSensor.append($sensorBtn);
		}
		$listviewAddSensor.listview('refresh');
	});
	$.get('/api/v1.0/udp/devices/openwifithermostat.pilot',function (data) {
		console.log(data);
		$listviewAddPilot=$('#listviewAddPilot');
		if (data.devices.length < 1){
			$listviewAddPilot.append($('<li data-icon="alert">Aucun pilot n\'a été détecté.</li>'));
		}
		for (i = 0; i < data.devices.length; ++i) {
			if (data.devices[i].data && data.devices[i].data.name) {
				$pilotBtn = $('<li data-location="'+data.devices[i].location+'" data-icon="plus"><a href="#">'+data.devices[i].data.name+'</a></li>');
			} else {
				$pilotBtn = $('<li data-location="'+data.devices[i].location+'" data-icon="plus"><a href="#">'+data.devices[i].location+'</a></li>');
			}
			$pilotBtn.location = data.devices[i].location;
			$pilotBtn.click(function(){
				$.ajax({
					url: '/api/v1.0/zones/{{ zone.id }}/pilots',
					type: 'POST',
					data: JSON.stringify({location: $(this).attr('data-location')}),
					complete: location.reload()
				});
			});
			$listviewAddPilot.append($pilotBtn);
		}
		$listviewAddPilot.listview('refresh');
	});
	$('#remove').change(function () {
		if ($(this).prop('checked')) {
			$('.inactive-when-remove').addClass('ui-state-disabled');
		} else {
			$('.inactive-when-remove').removeClass('ui-state-disabled');
		}
	});
	$('#validate').click(function(){
		if ($('#remove').prop('checked')) {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}',
				type: 'DELETE',
			}).done(function(){
				document.location.href="/";
			});
		} else {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}',
				type: 'PUT',
				data: JSON.stringify({
					name: $('#newname').val(),
					away_temp: parseFloat($('#away_temp').val()),
					speed_temp_climb: parseFloat($('#speed_temp_climb').val())*60
				})
			}).done(function(){
				document.location.href='/zones/{{ zone.id }}';
			});
		}
	});
});

	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>{{ zone.name }} - Paramètres</h1>
			<a is="back" href="/zones/{{ zone.id }}" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Zone {{ zone.name }}</a>
		</div>

		<div role="main" class="ui-content">

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3>Rennomer</h3>
				<label>Nouveau nom: <input type="text" data-clear-btn="false" name="newname" id="newname" value="{{ zone.name }}"></label>
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3>Température en absence</h3>
				<p>Température de la zone lors d'une période d'absence.</p>
				<input id="away_temp" name="away_temp" type="number" data-clear-btn="false" value="{{ zone.away_temp }}">
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3 id="s_sensors">Capteurs</h3>
				<p>Les capteurs de cette zone (pondération pour les moyennes)</p>
				<ul data-role="listview" id="sensors" data-inset="true">
				</ul>
				<a href="#popupAddSensor" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="pop">Ajouter</a>
				<div data-role="popup" id="popupAddSensor">
					<ul id="listviewAddSensor" data-role="listview" data-inset="true">
					</ul>
				</div>
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3 id="s_pilots">Pilots</h3>
				<p>Connectez votre chaudière vos éléctrovannes ...</p>
				<ul data-role="listview" id="pilots" data-inset="true">
				</ul>
				<a href="#popupAddPilot" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="pop">Ajouter</a>
				<div data-role="popup" id="popupAddPilot">
					<ul id="listviewAddPilot" data-role="listview" data-inset="true">
					</ul>
				</div>
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3>Vitesse de chauffage</h3>
				<p>Indiquez en minutes le temps qui il faut pour que la température monte de 1 degré. 0 désactive la fonction.</p>
				<input id="speed_temp_climb" type="number" data-clear-btn="false" value="{{ zone.speed_temp_climb/60 }}">
			</div>

			<div class="ui-body ui-body-a ui-corner-all inactive-when-remove">
				<h3>Fenêtre ouverte</h3>
				<p>TODO</p>
			</div>

			<div class="ui-body ui-body-a ui-corner-all">
				<h3>Suppression</h3>
				<label><input id="remove" type="checkbox" name="remove">Supprimer cette zone</label>
			</div>

			<div class="ui-body ui-body-a ui-corner-all">
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><a href="/zones/{{ zone.id }}" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
					<div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
