<!DOCTYPE html>
<html>
<head>
	<title>Ajouter une zone</title>
	{% include "meta.html" %}
	<script>
function back() {
	document.location.href="/";
}
$.mobile.ajaxEnabled = false;
$(document).ready(function(){
	$('#next').click(function() {
		$.ajax({
			url: '/api/v1.0/zones',
			type: 'POST',
			data: JSON.stringify({
				name: $('#name').val()
			}),
		}).done(function(data){
			document.location.href='/zones/'+data.id+'/edit';
		});
	});
});
	</script>
</head>
<body>
	<div data-role="page">

		<div data-role="header" data-position="fixed">
			<h1>Ajouter une zone</h1>
			<a href="/params" data-icon="back" class="ui-btn-left ui-btn-icon-notext ">Zones</a>
		</div>

		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all">
				<h3 id="s_sensors">Nouvelle zone</h3>
				<label>Nom: <input type="text" data-clear-btn="false" name="name" id="name" value=""></label>
				<fieldset>
					<div class="ui-grid-a ui-responsive">
						<div class="ui-block-a"><a href="/params" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
						<div class="ui-block-b"><a id="next" href="#" class="ui-btn ui-shadow ui-corner-all">Suivant</a></div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
