<!DOCTYPE html>
<html>
<head>
	<title>{{ zone.name }}</title>
	{% include "meta.html" %}
	<script src="/js/highcharts.js"></script>
	<script src="/js/commun.highcharts.js"></script>
	<script>
		$.mobile.ajaxEnabled = false;
		var next_time = 0;
		var cur_temp = 0;
		var next_temp = 0;
		var normal_cur_temp = 0;
		var timer_last_delta_change = 0;
		var deltatime_choise = [
			100,//reset
			15*60*1000,//15''
			30*60*1000,
			45*60*1000,
			60*60*1000,//1h
			1.5*60*60*1000,
			2*60*60*1000,
			3*60*60*1000,
			4*60*60*1000,
			5*60*60*1000,
			6*60*60*1000,
			12*60*60*1000,//12h
			24*60*60*1000//24h
			//puis passe en jours
		];
		var deltaServerDate = 0;
		var timeout_update_deltatime;
		function init() {
			$.getJSON( '/api/v1.0/zones/{{ zone.id }}/schedules/now', function( data ) {
				console.log(data);
				deltaServerDate = data.now*1000 - Date.now();
				next_time = data.time.end*1000;
				cur_temp = data.temp.now;
				next_temp = data.temp.next;
				normal_cur_temp = data.temp.normal_now;
				update_deltatime();
				update_temp();
			});
		}
		function put_next_time() {
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/schedules/now',
				type: 'PUT',
				data: JSON.stringify({time: {end: next_time/1000}})
			});
		}
		function update_deltatime() {
			if (timeout_update_deltatime) {
				clearTimeout(timeout_update_deltatime);
			}
			const now = Date.now()+deltaServerDate;
			const delta = next_time - now;
			console.log("delta",delta/(24*60*60*1000));
			if (delta <= 0) {
				init();
				return;
			} else if (delta <= 10*1000) {
				next_timeout = delta-Math.floor(delta/1000)*1000;
				delta_f = Math.ceil(delta/1000)+"''";
			} else if (delta <= 15*1000) {
				next_timeout = delta-10*1000;
				delta_f = "15''";
			} else if (delta <= 30*1000) {
				next_timeout = delta-15*1000;
				delta_f = "30''";
			} else if (delta <= 45*1000) {
				next_timeout = delta-30*1000;
				delta_f = "45'";
			} else if (delta <= 10*60*1000) {
				next_timeout = delta-Math.floor(delta/(60*1000))*60*1000;
				delta_f = Math.ceil(delta/(60*1000))+"''";
			} else if (delta <= 15*60*1000) {
				next_timeout = delta-10*60*1000;
				delta_f = "15'";
			} else if (delta <= 30*60*1000) {
				next_timeout = delta-15*60*1000;
				delta_f = "30'";
			} else if (delta <= 45*60*1000) {
				next_timeout = delta-30*60*1000;
				delta_f = "45'";
			} else if (delta <= 60*60*1000) {
				next_timeout = delta-45*60*1000;
				delta_f = "1h";
			} else if (delta <= 1.5*60*60*1000) {
				next_timeout = delta-60*60*1000;
				delta_f = "1h30";
			} else if (delta <= 2*60*60*1000) {
				next_timeout = delta-90*60*1000;
				delta_f = "2h";
			} else if (delta <= 2.5*60*60*1000) {
				next_timeout = delta-2*60*60*1000;
				delta_f = "2h30";
			} else if (delta <= 24*60*60*1000) {
				next_timeout = delta-2.5*60*60*1000;
				delta_f = Math.ceil(delta/(60*60*1000))+'h';//3,4,5,...24h
			} else {
				next_timeout = delta-Math.floor(delta/(24*60*60*1000))*24*60*60*1000;
				delta_f = Math.ceil(delta/(24*60*60*1000))+' jours'; //2,3,4 ... jours
			}
			next_timeout+=100; //evite les bug de temps de réponse
			console.log('delta_f',delta_f);
			$('#TimeLabel').html(delta_f);
			console.log($('#TimeLabel'));
			timeout_update_deltatime = setTimeout(update_deltatime, next_timeout);
		}
		function put_temp() {
			console.log('put_temp'+cur_temp);
			$.ajax({
				url: '/api/v1.0/zones/{{ zone.id }}/schedules/now',
				type: 'PUT',
				data: JSON.stringify({temp: {now: cur_temp}})
			});
		}
		function update_temp() {
			cur_temp = Math.round(10*Math.max(0,Math.min(30,cur_temp)))/10; //compris entre 0 et 30 arrondi au 10e
			$('#TempLabel').html(cur_temp.toFixed(1)+' °C');
			$('#TempInput').val(cur_temp.toFixed(1));
		}
		function update_sensor() {
			$.getJSON( '/api/v1.0/zones/{{ zone.id }}', function( data ) {
				const now = Date.now()+deltaServerDate;
				console.log(data);
				$('#temp').html(formatTemp(data.temp));
				$graph_temp = $('#graph_temp').highcharts();
				if (typeof $graph_temp != 'undefined') {
					if ($graph_temp.series[0].data.length >= 2) {
						deltax = $graph_temp.series[0].data[$graph_temp.series[0].data.length-1].x - $graph_temp.series[0].data[$graph_temp.series[0].data.length-2].x;
					} else {
						deltax = 15*60000;
					}
					if (now-$graph_temp.series[0].data[$graph_temp.series[0].data.length-1].x >= deltax) {
						$graph_temp.series[0].addPoint([$graph_temp.series[0].data[$graph_temp.series[0].data.length-1].x + deltax, data.temp],true,true);
						$('#graph_hrel').highcharts().series[0].addPoint([$graph_temp.series[0].data[$graph_temp.series[0].data.length-1].x, data.hrel],true,true);
					}
				}
				if (data.hrel) {
					$('#hrel_contener').show();
					$('#hrel').html(data.hrel.formatHrel());
				}
				if (data.pressure) {
					$('#pressure_contener').show();
					$('#pressure').html(data.pressure.formatPressure());
				}
			});
		}

		$(document).ready(function(){
			$('#hrel_contener').hide();
			$('#pressure_contener').hide();
			update_sensor();
			setInterval(update_sensor,5000);
			init();
			$('#TempDown').clickdown(function() {
				delta_timer_last_delta_change = Date.now() - timer_last_delta_change;
				console.log(delta_timer_last_delta_change);
				console.log(cur_temp);
				console.log(normal_cur_temp);
				console.log(next_temp);
				if ((delta_timer_last_delta_change > 10*1000) && (normal_cur_temp == cur_temp) && (next_temp < cur_temp)) {
					cur_temp = next_temp;
				} else if ((delta_timer_last_delta_change > 10*1000) && (normal_cur_temp < cur_temp)) {
					cur_temp = normal_cur_temp;
				} else {
					cur_temp -= .5;
				}
				put_temp();
				update_temp();
				timer_last_delta_change = Date.now();
			});
			$('#TempUp').clickdown(function() {
				delta_timer_last_delta_change = Date.now() - timer_last_delta_change;
				if ((delta_timer_last_delta_change > 10*1000) && (normal_cur_temp == cur_temp) && (next_temp > cur_temp)) {
					cur_temp = next_temp;
				} else if ((delta_timer_last_delta_change > 10*1000) && (normal_cur_temp > cur_temp)) {
					cur_temp = normal_cur_temp;
				} else {
					cur_temp += .5;
				}
				put_temp();
				update_temp();
				timer_last_delta_change = Date.now();
			});
			$('#TempInput').change(function() {
				cur_temp = parseFloat($(this).val());
				put_temp();
				update_temp();
				timer_last_delta_change = Date.now();
			});
			$('#TimeDown').clickdown(function() {
				const now = Date.now()+deltaServerDate;
				const delta = next_time - now;

				var new_delta = 0;
				console.log(delta , deltatime_choise[deltatime_choise.length-1]);
				if (delta > deltatime_choise[deltatime_choise.length-1]) {
					console.log('en jours');
					//en jours
					new_delta = (Math.ceil(delta/(24*60*60*1000))-1)*24*60*60*1000;
				} else {
					console.log('en choise');
					console.log(deltatime_choise.length-1);
					for (i = deltatime_choise.length-1; i >= 0; --i) {
						console.log(i);
						console.log(deltatime_choise[i] ,'>', delta);
						if (deltatime_choise[i] < delta) {
							console.log(i);
							new_delta = deltatime_choise[i]
							break;
						}
					}
				}
					next_time = now+new_delta;
					clearTimeout(timeout_update_deltatime);
					put_next_time();
					update_deltatime();
			});
			$('#TimeUp').clickdown(function() {
				const now = Date.now()+deltaServerDate;
				const delta = next_time - now;
				var new_delta = 0;
				console.log(delta , deltatime_choise[deltatime_choise.length-1]);
				for (i = 0; i < deltatime_choise.length-1; ++i) {
					if (deltatime_choise[i] >= delta) {
						new_delta = deltatime_choise[i+1]
						break;
					}
				}
				if (!new_delta) {
					//en jours
					new_delta = (Math.ceil(delta/(24*60*60*1000))+1)*24*60*60*1000;
				}
				console.log(new_delta)
				next_time = now+new_delta;
				clearTimeout(timeout_update_deltatime);
				put_next_time();
				update_deltatime();
			});
			$.getJSON('/api/v1.0/history?zones={{zone.id}}',{cols:'temp,hrel',from:Date.now()/1000-24.25*3600}, function (data) {
				console.log(data.history);
				series = toGraphSeries(data.history);
				console.log(series);
				$('#graph_temp').tinyhighcharts({
					yAxis: {
						labels: {
							format: '{value} °C'
						}
					},
					tooltip: {
						valueDecimals: 1,
						valueSuffix: ' °C'
					},
					series: [{
						name: 'Température',
						data: series[0]
					}]
				});
				$('#graph_hrel').tinyhighcharts({
					yAxis: {
						labels: {
							format: '{value} %'
						}
					},
					tooltip: {
						valueDecimals: 1,
						valueSuffix: ' %'
					},
					series: [{
						name: 'Humiditée',
						data: series[1]
					}]
				});
			});
		});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>{{ zone.name }}</h1>
			<a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
			<a href="#settings-sidebar" data-icon="gear" class="ui-btn-right">Réglages</a>
		</div>

		{% include "sidebar.html" %}

		<div id="settings-sidebar" data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true">
			<h3>Réglages</h3>
			<ul data-role="listview" data-inset="true">
				<li data-icon="clock"><a href="/zones/{{ zone.id }}/schedules/weekly">Programmation<br/>hebdomadaire</a></li>
				<li data-icon="gear"><a href="/zones/{{ zone.id }}/edit">Paramètres</a></li>
			</ul>
		</div>

		<div role="main" class="ui-content">
			<div id="tmp_contener" class="ui-body ui-body-a ui-corner-all">
				<h3>Température</h3>
				<p><span class="big" id="temp"></span></p>
				<div id="graph_temp" style="height: 80px"></div>
				{% if zone.pilots %}
				<fieldset>
					<legend>Désirée</legend>
					<div data-role="controlgroup" data-type="horizontal">
						<a id="TempDown" href="#" data-role="button">-</a>
						<a id="TempLabel" href="#TempPopup" data-rel="popup"  data-role="button" style="min-width:4em;">--.- °C</a>
						<div data-role="popup" id="TempPopup">
							<input type="number" data-clear-btn="true" name="TempInput" id="TempInput" value="" style="width:4em;"/>
						</div>
						<a id="TempUp" href="#" data-role="button">+</a>
					</div>
				</fieldset>
				<fieldset>
					<legend>Durant</legend>
					<div data-role="controlgroup" data-type="horizontal">
						<a id="TimeDown" href="#" data-role="button">-</a>
						<span id="TimeLabel" class="ui-btn" style="min-width:4em;">--h--</span>
						<a id="TimeUp" href="#" data-role="button">+</a>
					</div>
				</fieldset>
				{% endif %}
			</div>

			<div id="hrel_contener" class="ui-body ui-body-a ui-corner-all">
				<h3>Humiditée</h3>
				<p><span class="big" id="hrel"></span></p>
				<div id="graph_hrel" style="height: 80px"></div>
			</div>

			<div id="pressure_contener" class="ui-body ui-body-a ui-corner-all">
				<h3>Pression</h3>
				<p><span class="big" id="pressure"></span></p>
			</div>
		</div>
	</div>
</body>
</html>
