<!DOCTYPE html>
<html>
<head>
    <title>MétéoFrance</title>
    {% include "meta.html" %}
    <script>
$.mobile.ajaxEnabled = false;
var $ul_citys ;
if (JSON.parse(localStorage.getItem('extensions.meteofrance.citysid')))
    var citysid = JSON.parse(localStorage.getItem('extensions.meteofrance.citysid'));
else
    var citysid = [];
function display_citys(){
    $ul_citys.html('');
    for (i = 0; i < citysid.length; ++i) {
        $.ajax({
            url:'/proxy/http://www.meteo-france.mobi/ws/getDetail/france/'+citysid[i]+'.json'
        }).done(function(data) {
            var $li = $('<li><a href="http://www.meteo-france.mobi/home#!ville_synthese_'+data.result.ville.indicatif+'">'+data.result.ville.nom+' ('+data.result.ville.codePostal+')</li>');
            var $bt_del = $('<a href="#">Supprimer</a>');
            $bt_del.click(function(){
                citysid.pop(data.id);
                display_citys();
            });
            $li.append($bt_del);
            $ul_citys.append($li);
            $ul_citys.listview('refresh');
        });
    }
}

$(document).ready(function(){
    $ul_citys = $('#citys');

    $('#search_city_result').on('filterablebeforefilter', function (e, data) {
        var $ul = $(this),
            $input = $(data.input),
            value = $input.val();
        $ul.html('');
        $ul.filterable('option', 'filterCallback', function() {return false});
        if ( value && value.length > 2 ) {
            $.ajax({
                url: '/proxy/http://www.meteo-france.mobi/ws/getLieux/'+$input.val()+'.json'
            }).done(function(data) {
                $.each(data.result.france, function (i, val) {
                    var $a = $('<a href="#" data-position-to="window" >'+val.nom+' ('+val.codePostal+')</a>');
                    $a.click(function(){
                        citysid.push(val.indicatif);
                        display_citys();
                    })
                    $ul.append($('<li></li>').append($a));
                });
                $ul.listview('refresh');
                $ul.trigger('updatelayout');
            }).fail(function() {
                $ul.append($('<li>Le recherche a échouée.</li>'));
                $ul.listview('refresh');
            });
        }
    });
    $('#validate').click(function () {
        localStorage.setItem('extensions.meteofrance.citysid',JSON.stringify(citysid));
        document.location.href='/extensions';
    });
    display_citys();
});
    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>MétéoFrance</h1>
            <a href="/extensions" data-icon="back" class="ui-btn-left">Retour</a>
        </div>

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all">
                <h3>Paramètres</h3>

                <p>
                    <ul id="citys" data-role="listview" data-split-icon="delete" data-split-theme="a" data-inset="true"></ul>
                    <label>Ajouter une ville: <input id="search_city" data-type="search" placeholder="nom de la ville ou code postal"></label>
                    <ul id="search_city_result" data-role="listview" data-inset="true" data-filter="true" data-input="#search_city"></ul>
                </p>

                <div class="ui-grid-a ui-responsive">
                    <div class="ui-block-a"><a href="/extensions" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
                    <div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
