<!DOCTYPE html>
<html>
<head>
    <title>MétéoFrance</title>
    {% include "meta.html" %}
    <script>
$.mobile.ajaxEnabled = false;
function meteofrance_deamon () {
    var now = Date.now();
    if (now - sessionStorage.getItem('extensions.meteofrance.'+cityid+'.last_update') > 15*60000) {//maj toutes les 15'
        $.ajax({
            url:'/proxy/http://www.meteo-france.mobi/ws/getDetail/france/'+cityid+'.json'
        }).done(function (data) {
            sessionStorage.setItem('extensions.meteofrance.'+cityid+'.cache',JSON.stringify(data));
            sessionStorage.setItem('extensions.meteofrance.'+cityid+'.last_update',Date.now());
            meteofrance_previsons(data);
        });
    } else {
        data = JSON.parse(sessionStorage.getItem('extensions.meteofrance.'+cityid+'.cache'));
        meteofrance_previsons(data);
    }
}
function meteofrance_previsons (data) {
    var $10j = $('#meteofrance-10j');
    $10j.html('');
    $.each(data.result.resumes,function(k,v) {
        console.log(data);
        var date = new Date(v.date);
        $('title').html('MétéoFrance - '+data.result.ville.nom+' ('+data.result.ville.codePostal+')');
        $('h1').html('MétéoFrance - '+data.result.ville.nom+' ('+data.result.ville.codePostal+')');
        $10j.append('\
            <li>\
                <h3>'+days[date.getDay()].toTitle()+' '+date.getDate()+'</h3>\
                <p>'+v.description+'</p>\
                <table>\
                    <tr>\
                        <td rowspan="4"><img src="http://www.meteo-france.mobi/img/pictos/100x80/'+v.picto+'.png"/></td>\
                        <td><span class="temp_min">'+v.temperatureMin+'</span> / <span class="temp_max">'+v.temperatureMax+'</span> °C</td>\
                    </tr>\
                    <tr>\
                        <td><svg height="11" width="10"><g transform="rotate('+v.directionVent+',5,6)"><path d="m5,10l0-9m-3,3l3,-3l3,3"/></g></svg> '+v.vitesseVent+' km/h</td>\
                    </tr>\
                    <tr>\
                        <td>'+(v.indiceConfiance == null ? 'UV '+v.indiceUV : v.indiceConfiance+'/5')+'</td>\
                    </tr>\
                </table>\
            </li>\
        ');
    });
    $10j.listview('refresh');
    var $48h = $('#meteofrance-48h');
    var html = '<table data-role="table" width="100%" data-mode="columntoggle" class="ui-responsive table-stroke">';
    var lastDay = -1;
    $.each(data.result.previsions48h,function(k,v) {
        if (lastDay != v.jour) {
            lastDay = v.jour;
            date = new Date(v.date);
            html += '<tr class="ui-page-theme-a"><th colspan="6">'+days[date.getDay()].toTitle()+' '+date.getDate()+'</th></tr>';
        }
        html += '\
            <tr>\
                <th>'+v.name+'h</th>\
                <td><img src="http://www.meteo-france.mobi/img/pictos/100x80/'+v.picto+'.png"/></td>\
                <td>'+v.temperatureMin+' °C</td>\
                <td><svg height="11" width="10"><g transform="rotate('+v.directionVent+',5,6)"><path d="m5,10l0-9m-3,3l3,-3l3,3"/></g></svg> '+v.vitesseVent+' km/h'+(v.forceRafales != '0' ? '<br/>Rafales '+v.forceRafales : '' )+'</td>\
                <td><img src="img/rain.svg"/><br/>'+v.probaPluie+'%</td>\
                <td><img src="img/snow.svg"/><br/>'+v.probaGel+'%</td>\
            </tr>';
    });
    html += '</table>';
    $48h.html(html);
    $.mobile.loading('hide');
}
$(document).ready(function(){
    $.mobile.loading('show');
    cityid = document.location.href.match(/^.*\?ville=([0-9]*)$/)[1];
    console.log(cityid);
    if (meteofrance_citysid.indexOf(String(cityid)) != -1) {
        $('#meteofrance-link').attr('href','http://www.meteo-france.mobi/home#!ville_synthese_'+cityid);
        meteofrance_deamon();
        setInterval(meteofrance_deamon,5*60*1000);//actualisations toutes les 5 minutes
    } else {
        console.error('ville invalide');
    }
});
    </script>
    <style>
        svg {stroke:black; fill: white}
        th {text-align:left}
        .temp_min {color:darkblue;}
        .temp_max {color:darkred;}
        #meteofrance-48h {overflow: auto}
    </style>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>MétéoFrance</h1>
            <a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
            <a href="#settings-sidebar" data-icon="gear" class="ui-btn-right">Réglages</a>
        </div>

        {% include "sidebar.html" %}

        <div id="settings-sidebar" data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true">
            <h3>Réglages</h3>
            <ul data-role="listview" data-inset="true">
                <li data-icon="gear"><a href="/extensions/meteofrance/setup.html">Paramètres</a></li>
            </ul>
        </div>

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all">
                <div data-role="tabs" id="tabs">
                    <div data-role="navbar">
                        <ul>
                            <li><a href="#10j" class="ui-btn-active" data-ajax="false">10 jours</a></li>
                            <li><a href="#48h" data-ajax="false">48 heures</a></li>
                        </ul>
                    </div>
                    <div id="10j">
                        <ul id="meteofrance-10j" data-role="listview" data-inset="true"></ul>
                    </div>
                    <div id="48h">
                        <ul id="meteofrance-48h" data-role="listview" data-inset="true"></ul>
                    </div>
                <a id="meteofrance-link" href="" class="ui-btn ui-corner-all" data-rel="dialog">Plus sur MétéoFrance</a>
            </div>
        </div>
    </div>
</body>
</html>
