<!DOCTYPE html>
<html>
<head>
    <title>OpenWeatherMap</title>
    {% include "meta.html" %}
    <script>
$.mobile.ajaxEnabled = false;
var $ul_citys ;
if (JSON.parse(localStorage.getItem('extensions.openweathermap.citysid')))
    var citysid = JSON.parse(localStorage.getItem('extensions.openweathermap.citysid'));
else
    var citysid = [];
function display_citys(){
    $ul_citys.html('');
    for (i = 0; i < citysid.length; ++i) {
        $.ajax({
            url:'http://api.openweathermap.org/data/2.5/weather?id='+citysid[i]+'&appid='+$('#apikey').val()+'&units=metric&lang=fr',
            crossDomain: true
        }).done(function(data) {
            var $li = $('<li><a href="http://openweathermap.org/city/'+data.id+'">'+data.name+' ('+data.sys.country+')</li>');
            var $bt_del = $('<a href="#">Supprimer</a>');
            $bt_del.click(function(){
                citysid.pop(data.id);
                display_citys();
            });
            $li.append($bt_del);
            $ul_citys.append($li);
            $ul_citys.listview('refresh');
        });
    }
}

$(document).ready(function(){
    if (localStorage.getItem('extensions.openweathermap.apikey') !== null)
        $('#apikey').val(localStorage.getItem('extensions.openweathermap.apikey'));
    $ul_citys = $('#citys');

    $('#search_city_result').on('filterablebeforefilter', function (e, data) {
        var $ul = $(this),
            $input = $(data.input),
            value = $input.val();
        $ul.html('');
        $ul.filterable('option', 'filterCallback', function() {return false});
        if ( value && value.length > 2 ) {
            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/find',
                dataType: 'json',
                crossDomain: true,
                data: {
                    q: $input.val(),
                    appid: $('#apikey').val(),
                    type: 'like',
                    sort: 'population',
                }
            }).done(function(data) {
                $.each(data.list, function (i, val) {
                    var $a = $('<a href="#" data-position-to="window" >'+val.name+' ('+val.sys.country+')</a>');
                    $a.click(function(){
                        citysid.push(val.id);
                        display_citys();
                    })
                    $ul.append($('<li></li>').append($a));
                });
                $ul.listview('refresh');
                $ul.trigger('updatelayout');
            }).fail(function() {
                $ul.append($('<li>Le recherche a échouée. Vérifez votre clef d\'api</li>'));
                $ul.listview('refresh');
            });
        }
    });
    $('#validate').click(function () {
        localStorage.setItem('extensions.openweathermap.apikey',$('#apikey').val());
        localStorage.setItem('extensions.openweathermap.citysid',JSON.stringify(citysid));
        document.location.href='/extensions';
    });
    display_citys();
});
    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>OpenWeatherMap</h1>
            <a href="/extensions" data-icon="back" class="ui-btn-left">Retours</a>
        </div>

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all">
                <h3>Paramètres</h3>

                <p>
                    <label>Clef d'api (requis) : <input id="apikey" type="text" data-clear-btn="false"></label>
                    La clef d'api peut être optenue gratuitement sur <a href="http://openweathermap.org/appid">openweathermap.org/appid</a>
                </p>

                <p>
                    <ul id="citys" data-role="listview" data-split-icon="delete" data-split-theme="a" data-inset="true">
                    </ul>
                    <label>Ajouter une ville: <input id="search_city" data-type="search" placeholder="nom de la ville ou code postal"></label>
                    <ul id="search_city_result" data-role="listview" data-inset="true" data-filter="true" data-input="#search_city"></ul>
                </p>

                <fieldset>
                    <div class="ui-grid-a ui-responsive">
                        <div class="ui-block-a"><a href="/extensions" class="ui-btn ui-shadow ui-corner-all">Annuler</a></div>
                        <div id="validate" class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all">Valider</a></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>
