<!DOCTYPE html>
<html>
<head>
    <title>Météo OpenWeatherMap</title>
    {% include "meta.html" %}
    <script>
$.mobile.ajaxEnabled = false;
var cityid;
//~ var citysid = JSON.parse(localStorage.getItem('extensions.openweathermap.citysid'));
function openweathermap_deamon () {
    now = Date.now()
    if (now - sessionStorage.getItem('extensions.openweathermap.'+cityid+'.current_conditions.last_update') > 15*60000) {//maj toutes les 15'
        $.ajax({
            url:'http://api.openweathermap.org/data/2.5/weather?id='+cityid+'&appid='+localStorage.getItem('extensions.openweathermap.apikey')+'&units=metric&lang=fr',
            crossDomain: true
        }).done(function (data) {
            sessionStorage.setItem('extensions.openweathermap.'+cityid+'.current_conditions.cache',JSON.stringify(data));
            sessionStorage.setItem('extensions.openweathermap.'+cityid+'.current_conditions.last_update',Date.now())
            openweathermap_update_current_conditions(data);
        });
    } else {
        console.log('extensions.openweathermap.'+cityid+'.current_conditions du cache');
        openweathermap_update_current_conditions(JSON.parse(sessionStorage.getItem('extensions.openweathermap.'+cityid+'.current_conditions.cache')));
    }
    if (now - sessionStorage.getItem('extensions.openweathermap.'+cityid+'.previsions.last_update') > 60*60000) {//maj toutes les 1h
        $.ajax({
            url:'http://api.openweathermap.org/data/2.5/forecast/daily?id='+cityid+'&appid='+localStorage.getItem('extensions.openweathermap.apikey')+'&units=metric&lang=fr',
            crossDomain: true
        }).done(function (data) {
            sessionStorage.setItem('extensions.openweathermap.'+cityid+'.previsions.cache',JSON.stringify(data));
            sessionStorage.setItem('extensions.openweathermap.'+cityid+'.previsions.last_update',Date.now())
            openweathermap_update_previsions(data);
        });
    } else {
        console.log('extensions.openweathermap.previsions du cache');
        openweathermap_update_previsions(JSON.parse(sessionStorage.getItem('extensions.openweathermap.'+cityid+'.previsions.cache')));
    }
}
function openweathermap_update_current_conditions (data) {
    console.log(data);
    date = new Date(data.dt*1000);
    $('#openweathermap_city').html(data.name+' ('+data.sys.country+')');
    if (typeof data.wind.deg != 'undefined')
        svg_wind_dir = '<svg height="11" width="10"><g transform="rotate('+data.wind.deg+',5,6)"><path d="m5,10l0-9m-3,3l3,-3l3,3"/></g></svg>';
    else
        svg_wind_dir = '<svg height="11" width="10"><path id="svg_4" d="m9,7.5a4,4 0 1,1 0-2m-4,0 4,0l0-4"/></svg>';
    if (typeof data.main.temp_min == 'undefined')
        data.main.temp_min = data.main.temp;
    if (typeof data.main.temp_max == 'undefined')
        data.main.temp_max = data.main.temp;
    $('#openweathermap_current_conditions').html('\
        <p>'+days[date.getDay()].toTitle()+' '+date.getDate()+' '+months[date.getMonth()]+' '+date.getFullYear()+'</p>\
        <table>\
            <tr>\
                <td><img src="http://openweathermap.org/img/w/'+data.weather[0].icon+'.png" /></td>\
                <td><span style="font-size:200%">'+data.main.temp.toFixed(1)+'</span><sup style="font-size:150%">°C</sup><td>\
            </tr>\
        </table>\
        <p>'+data.weather[0].description.toTitle()+', '+svg_wind_dir+' '+data.wind.speed+'m/s, <svg height="10" width="17"><path d="m12,3c-0-1-2-2-3-2s-2 1-3 2c-1 0-2 0-2 1-1 0-2 1-2 2s1 2 2 2h3 3 4 0c1 0 2-1 2-2s-1-2-2-2z"/></svg> '+data.clouds.all+'%</p>'
    );
}
function openweathermap_update_previsions (data) {
    $('#openweathermap_city').html(data.city.name+' ('+data.city.country+')');
    openweathermap_previsions = '<table><tr>'
    for (i = 0; i < data.list.length; ++i) {
        date = new Date(data.list[i].dt*1000);
        openweathermap_previsions += '<td>'+days_abbr[date.getDay()].toTitle()+' '+date.getDate()+'<br><img src="http://openweathermap.org/img/w/'+data.list[i].weather[0].icon+'.png" /><br><span class="temp_min">'+data.list[i].temp.min.toFixed(0)+'°</span> / <span class="temp_max">'+data.list[i].temp.max.toFixed(0)+'</span>°<td>';
    }
    openweathermap_previsions += '</tr></table>';
    $('#openweathermap_previsions').html(openweathermap_previsions);
}
$(document).ready(function(){
    cityid = document.location.href.match(/^.*\?city=([0-9]*)$/)[1];
    if (openweathermap_citysid.indexOf(parseInt(cityid)) != -1) {
        $('#openweathermap_link').attr('href','http://openweathermap.org/city/'+cityid);
        openweathermap_deamon ();
        setInterval(openweathermap_deamon,5*60*1000);//actualisations toutes les 5 minutes
    } else {
        console.error('unvalide city');
    }
});
    </script>
    <style>
        .openweathermap .temp_min {color:darkblue;}
        .openweathermap .temp_max {color:darkred;}
        #openweathermap_previsions tr {text-align:center;}
        .openweathermap svg {stroke:black; fill: white;}
    </style>'
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Météo OpenWeatherMap</h1>
            <a href="#nav-sidebar" data-icon="bars" class="ui-btn-left">Menu</a>
            <a href="#settings-sidebar" data-icon="gear" class="ui-btn-right">Réglages</a>
        </div>

        {% include "sidebar.html" %}

        <div id="settings-sidebar" data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true">
            <h3>Réglages</h3>
            <ul data-role="listview" data-inset="true">
                <li data-icon="gear"><a href="/extensions/openweathermap/setup.html">Paramètres</a></li>
            </ul>
        </div>

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all openweathermap">
                <h3>Météo <span id="openweathermap_city" /></h3>
                <div id="openweathermap_current_conditions" class="ui-body ui-body-a ui-corner-all">
                </div>
                <div id="openweathermap_previsions" class="ui-body ui-body-a ui-corner-all" style="overflow:auto">
                </div>
                <a id="openweathermap_link" href="" class="ui-btn ui-corner-all" data-rel="dialog">Plus sur OpenWeatherMap</a>
            </div>
        </div>
    </div>
</body>
</html>
