<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
    <title>Programmation zone {{ zone }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON( "api/v1.0", function( data ) {
                console.log(data);
                $('title').append(data.name);
                $('h1').append(data.name);
                $('#power').prop('checked',data.state);
            });
            $('#power').change(function () {
                $.post("api/v1.0", JSON.stringify({power:$(this).prop('checked')}), dataType='json');
            });
        });
    </script>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <h1></h1>
    </div>

    <div role="main" class="ui-content">
        <div id="content" class="ui-corner-all custom-corners">
            <div class="ui-body ui-body-a">
                <form>
                    <input type="checkbox" data-role="flipswitch" name="power" id="power">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
